In [4]:
import numpy as np

from src.data.data_manager import read_csv

In [10]:
xgb_preds = read_csv("/mnt/MAIN/Master/WS-24-25/Pattern-Recognition-Project/pattern-recognition-project/results/hpo_regressor_without_encoded_data/artifacts/predictions/xgb/submission.csv")
lgb_preds = read_csv("/mnt/MAIN/Master/WS-24-25/Pattern-Recognition-Project/pattern-recognition-project/results/hpo_regressor_without_encoded_data/artifacts/predictions/lightgbm/submission.csv")
cat_preds = read_csv("/mnt/MAIN/Master/WS-24-25/Pattern-Recognition-Project/pattern-recognition-project/results/hpo_regressor_without_encoded_data/artifacts/predictions/catboost/submission.csv")

2025-02-11 15:36:20,318|INFO|read_csv|29: Reading csv from /mnt/MAIN/Master/WS-24-25/Pattern-Recognition-Project/pattern-recognition-project/results/hpo_regressor_without_encoded_data/artifacts/predictions/xgb/submission.csv
2025-02-11 15:36:20,329|INFO|read_csv|29: Reading csv from /mnt/MAIN/Master/WS-24-25/Pattern-Recognition-Project/pattern-recognition-project/results/hpo_regressor_without_encoded_data/artifacts/predictions/lightgbm/submission.csv
2025-02-11 15:36:20,334|INFO|read_csv|29: Reading csv from /mnt/MAIN/Master/WS-24-25/Pattern-Recognition-Project/pattern-recognition-project/results/hpo_regressor_without_encoded_data/artifacts/predictions/catboost/submission.csv

# Average

In [11]:
preds = np.array([xgb_preds["sii"], lgb_preds["sii"], cat_preds["sii"]])
avg_preds = np.average(preds, axis=0)
final_preds = np.round(avg_preds).astype(int)
submission_df = xgb_preds.copy()
submission_df["sii"] = final_preds
submission_df

          sii
id
00008ff9    2
000fd460    0
00105258    1
00115b9f    1
0016bb22    0
001f3379    1
0038ba98    0
0068a485    0
0069fbed    1
0083e397    1
0087dd65    1
00abe655    1
00ae59c9    1
00af6387    1
00bd4359    0
00c0cd71    2
00d56d4b    0
00d9913d    1
00e6167c    0
00ebc35d    1

# Vote

In [12]:
from scipy import stats

preds = np.array([xgb_preds["sii"], lgb_preds["sii"], cat_preds["sii"]])
vote_preds = stats.mode(preds, axis=0).mode.flatten().astype(int)
final_preds = np.round(vote_preds).astype(int)
submission_df = xgb_preds.copy()
submission_df["sii"] = final_preds
submission_df

          sii
id
00008ff9    2
000fd460    0
00105258    1
00115b9f    1
0016bb22    0
001f3379    1
0038ba98    0
0068a485    0
0069fbed    1
0083e397    0
0087dd65    1
00abe655    0
00ae59c9    1
00af6387    1
00bd4359    0
00c0cd71    2
00d56d4b    0
00d9913d    1
00e6167c    0
00ebc35d    1